@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.gr-1 {
    background: linear-gradient(170deg, rgb(238, 50, 82) 0%, orange 100%);
}


* {
    transition: 0.3s;
}

.align-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.column {
    margin-top: 3rem;
    padding-left: 3rem;
}

.column:hover {
    padding-left: 0;
}

.column:hover .style .txt {
    margin-left: 1rem;
}

.column:hover .style .txt h1,
.column:hover .style .txt p {
    color: white;
    opacity: 1;
}

.column:hover a {
    color: white;
}

.column:hover a:after {
    width: 10%;
}

.style {
    min-height: 170px;
    margin: 0;
    padding: 1.7rem 1.2rem;
    border: none;
    border-radius: 0;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(0, 0, 0);
    letter-spacing: 0.05rem;
    font-family: "Oswald", sans-serif;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
}

.style .txt {
    /* margin-left: -3rem; */
    z-index: 1;
}

.style .txt h1 {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

.style .txt p {
    font-size: 0.7rem;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0rem;
    margin-top: 33px;
    opacity: 0;
    color: white;
}

.style a {
    z-index: 3;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin-left: 1rem;
    position: relative;
    bottom: -0.5rem;
    text-transform: uppercase;
}


.user {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 20px;
    overflow: hidden;
    min-width: 30%;
}

.user h6 {
    opacity: 0.7;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.user p {
    letter-spacing: 1px;
    margin-top: 1em;
}

.user-preview {
    background-color: orangered;
    color: #fff;
    padding: 30px;
    max-width: 250px;
    min-width: 45%;
}

.user-preview a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
}

.user-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.progress-container {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    width: 150px;
}

.progress {
    background-color: #ddd;
    border-radius: 3px;
    height: 5px;
    width: 100%;
}

.progress::after {
    border-radius: 3px;
    background-color: orange;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
}

.progress-text {
    font-size: 10px;
    opacity: 0.6;
    letter-spacing: 1px;
}

.button {
    background-color: transparent;
    border: 2px orangered solid;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 16px;
    padding: 6px 12px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
}

.button:hover {
    color: white;
    background-color: orangered;
    border: 1;
}

.disabled {
    border: 0;
    pointer-events: none;
    background-color: #ddd;
    color: rgb(122, 122, 122);
}

@media only screen and (max-width: 768px) {

    /* body {
        background-color: lightblue;
    } */
    .user {
        min-width: 100%;
    }
}